.loader.invalid-feedback {
    display: inline-block;
    font-size: 15px;
}

.main-wrapper .listing-wrapper .listing-row {
    height: auto;
}

.main-wrapper .listing-wrapper .listing-row .img-holder .main-img {
    height: auto;
    min-height: 100%;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #053fca;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
    }
}

.loader {
    position: relative;
    display: none;
}

.loader-wrap {
    position: fixed;
    height: 100%;
    width: 100%;
    background: black;
    opacity: .7;
    z-index: 1100;
}

.main-loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #223971;
    border-bottom: 16px solid #223971;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 35%;
    left: 45%;
    transform: translate(-50%, -50%);
    z-index: 1100;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.main-input {
    max-width: 100%;
    width: 100%;
    height: 45px;
}

.main-input select {
    display: none !important;
}

.main-input .dropdown-select {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
}

.dropdown-select:after {
    height: 0;
    width: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #777;
    -webkit-transform: origin(50% 20%);
    transform: origin(50% 20%);
    transition: all 0.125s ease-in-out;
    content: '';
    display: block;
    margin-top: -2px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 50%;
}

.dropdown-select.open:after {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.dropdown-select.open .list {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

.dropdown-select.open .option {
    cursor: pointer;
}

.dropdown-select.wide {
    width: 100%;
}

.dropdown-select.wide .list {
    left: 0 !important;
    right: 0 !important;
}

.dropdown-select .list {
    box-sizing: border-box;
    transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
    background-color: #fff;
    border-radius: 6px;
    margin-top: 4px;
    padding: 3px 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    max-height: 250px;
    overflow: auto;
    border: 1px solid #ddd;
}

.dropdown-select .list:hover .option:not(:hover) {
    background-color: transparent !important;
}

.dropdown-select .dd-search {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
}

.dropdown-select .dd-searchbox {
    width: 90%;
    padding: 0.5rem;
    border: 1px solid #999;
    border-color: #999;
    border-radius: 4px;
    outline: none;
}

.dropdown-select .dd-searchbox:focus {
    border-color: #12CBC4;
}

.dropdown-select .list ul {
    padding: 0;
}

.dropdown-select .option {
    cursor: default;
    font-weight: 400;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    transition: all 0.2s;
    list-style: none;
}

.dropdown-select .option:hover,
.dropdown-select .option:focus {
    background-color: #f6f6f6 !important;
}

.dropdown-select .option.selected {
    font-weight: 600;
    color: #12cbc4;
}

.dropdown-select .option.selected:focus {
    background: #f6f6f6;
}

.dropdown-select a {
    color: #aaa;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.dropdown-select a:hover {
    color: #666;
}

.dataTables_filter {
    float: right;
}

#map {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 600px;
}

.view-chat {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 15px;
    background: #223970;
    color: #fff;
    padding: 5px 12px;
    border-radius: 20px;
    color: #fff;
}

.view-chat:hover {
    color: #fff;
}

.sort-bt {
    position: relative;
    margin-right: 15px;
}

.sort-bt i {
    color: #e77817;
    display: inline-block;
}

.custom-dropdown {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    display: none;
    background-color: #f1f4f5;
    padding: 5px;
    z-index: 9;
    min-width: 100px;
}

.custom-dropdown ul li a {
    display: block;
    color: #000;
    text-transform: capitalize;
    font-weight: 500;
    padding: 5px;
}

.custom-dropdown ul li a:hover {
    background-color: #e77817;
    color: #fff;
    opacity: .7;
}

.neighborhood-search {
    width: 100%;
    margin: 90px auto;
    border-top: 1px solid #eee;
    border-radius: 5px;
    position: relative;
}

.neighborhood-search {
    padding: 20px 0px 160px !important;
}

.listing-detail-container .lSGallery li.active {
    border: 2px solid #000;

}


.listing-detail-container .lSGallery li img {
    object-fit: cover;
}

.large-view img {
    max-height: 450px;
}

.signup-modal-scroll {
    overflow: hidden;
    padding-right: 17px;
}

.signup-modal-scroll .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.signup-modal-scroll-getStart {
    overflow: hidden;
    padding-right: 17px;
}

.signup-modal-scroll-getStart .modal {
    overflow-x: hidden;
    overflow-y: auto;
}


/**/

.unavailable-btn span {
    padding: 3px 10px;
    border-radius: 5px;
    background-color: #f33c28;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
}

.available-btn span {
    padding: 3px 15px;
    border-radius: 5px;
    background-color: #51ab4c;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
}

.unavailable-btn i {
    margin-left: 30px;
    font-size: 18px;
    color: #b7b7b7;
}

.available-btn i {
    margin-left: 15px;
    font-size: 18px;
    color: #b7b7b7;
}

.unavailable-btn label {
    color: #b7b7b7;
    font-size: 15px;
}

.available-btn label {
    color: #b7b7b7;
    font-size: 15px;
}

.listing-Details.neighborhood-search {
    padding-bottom: 10px !important;
}

.listing-detail-container .listing-info .apartment-details {
    margin-top: 20px;
}

.apartment-details h4 {
    color: #223971;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
}

.listing-info .fas {
    color: #b7b7b7;
    font-size: 15px;
}

.Availability-date-sec {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-top: 5px;
    padding-bottom: 5px;
}

.Availability-date-sec .row {
    line-height: 25px;
}
.Availability-date-sec .row-border-right{
    border-right: 1px solid #ddd;
}

/*.appointment-iconDetails ul li {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
}*/

.appointment-iconDetails ul li i {
    padding-right: 5px;
}

.after-apartment-icon {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 40px;
}

.Availability-date-sec span {
    color: #5f6368;
    font-size: 14px;
}

.Availability-date-sec strong {
    color: #000;
    font-size: 12px;
    font-weight: 700;
}

.appointment-section {
    margin-top: 10px;
    background-color: #eee;
    padding: 8px 5px;
    margin-bottom: 10px;

}

.appointment-section img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 10px;
}

.appointment-section p {
    font-size: 14px;
    color: #6A6D72;
    font-weight: 600;
    margin-bottom: 3px;
    margin-top: 3px;
}

.appointment-section .apointment-btn {
    border: 1px solid #f36f21;
    background-color: transparent;
    color: #f36f21;
    padding: 10px 0px;
    font-size: 12px;
    text-transform: uppercase;
}

.appointment-buttons-section a {
    display: inline-block;
    width: 140px;
}

.appointment-section .apointment-btn:hover,
.appointment-section .apointment-btn:active,
.appointment-section .apointment-btn:focus {
    box-shadow: none;
    background-color: #223971;
    border: 1px solid #223971;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.appointment-section .contct-agent-btn {
    background-color: #f36f21;
    color: #fff;
    padding: 10px 0px;
    font-size: 12px;
    text-transform: uppercase;
}

.appointment-section .contct-agent-btn:hover,
.appointment-section .contct-agent-btn:active,
.appointment-section .contct-agent-btn:focus {
    background-color: #223971;
    border: 1px solid #223971;
    transition: all 0.3s ease-in-out;
    box-shadow: none;
}

.listing-aminities-sec {
    margin-top: 30px;
}

.listing-aminities-sec h3 {
    margin-bottom: 10px;
    color: #000;
}

.listing-aminities-sec p {
    font-size: 15px;
    color: #f36f21;
}

.listing-aminities-sec ul li {
    position: relative;
    padding-left: 15px;
}

.listing-aminities-sec ul li:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    background-color: #223971;
    width: 6px;
    height: 6px;
    border-radius: 100px;
    top: 5px;
}

.listing-aminities-sec ul li {
    padding-bottom: 5px;
    color: #717171;
    font-size: 16px;
}
.listing-aminities-sec{
    background-color: #F4F5F8;
     padding: 30px 0px;
}
.location-map-sec {

    padding: 30px 0px;
}

.location-map-sec h3 {
    margin-bottom: 20px;
    color: #000;
}
.listing-Details  .description-title{
    color: #000;
}

.location-map-sec label {
    font-size: 14px;
    color: #f36f21;
    display: block;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.location-map-sec p {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #717171;
    font-size: 16px;
}

.location-map-sec .span-box {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: #eee;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    line-height: 22px;
}

.location-map-sec .text-a {
    background-color: #185286;
}
.location-map-sec .text-e {
    background-color: #0039a6;
}
.location-map-sec .text-s{
    background-color: #6d6e71;
}
.location-map-sec .text-7{
    background-color: #9d3d97;
}
.location-map-sec .text-m {
    background-color: #f58220;
}
.location-map-sec .text-6 {
    background-color: #00a65c;
}

.location-map-sec .text-c {
    background-color: #185286;
}

.location-map-sec .text-f {
    background-color: #f98312;
}

.location-map-sec .text-r {
    background-color: #f2ff1d;
    color: #717171;
}

.location-map-sec .text-g {
    background-color: #8bbd12;
}

.location-map-sec .text-2 {
    background-color: #f80014;
}

.location-map-sec .text-4 {
    background-color: #1c872b;
}

.location-map-sec #map {
    border: 2px solid #fff;
}

.location-map-sec ul li {
    position: relative;
    padding-left: 15px;
}

.location-map-sec ul li:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    background-color: #223971;
    width: 6px;
    height: 6px;
    border-radius: 100px;
    top: 5px;
}

.city-bike {
    padding-top: 100px;
}

.location-map-sec .second-ul li {
    padding-bottom: 5px;
    line-height: 20px;
    color: #717171;
    font-size: 16px;
}

.owl-nav button {
    position: absolute;
    top: 34%;
    background-color: #000;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

.owl-nav button.owl-prev {
    left: 0;
}

.owl-nav button.owl-next {
    right: 0;
}

.owl-dots {
    text-align: center;
    padding-top: 15px;
}

.owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #f36f21 !important;
}

.owl-dots button.owl-dot:focus {
    outline: none;
}

.owl-nav button {
    position: absolute;
    top: 34%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.66) !important;
}

.related-carasoule-sec .owl-slider span {
    font-size: 70px;
    position: relative;
    top: -5px;
    color: #f36f21;
}

.owl-nav button:focus {
    outline: none;
}

.related-carasoule-sec .owl-dots {
    display: none;
}

.related-carasoule-sec .item img {
    position: relative;
    height: 350px;
    max-height: 350px;
    object-fit: cover;
}

.related-carasoule-sec .item i.fa-star {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #f36f21;
    font-size: 20px;
}

.related-carasoule-sec .item label {
    position: absolute;
    top: 310px;
    left: 15px;
    color: #fff;
}

.related-carasoule-sec .item p {
    font-size: 18px;
    font-weight: 700;
}

.related-carasoule-sec .item p i {
    margin: 0px 10px 0px 0px;
    font-size: 15px;
    color: #b7b7b7;
    font-size: 15px;
}

.related-carasoule-sec .item a {
    width: 100%;
    color: #f36f21;
    background-color: transparent;
    border: 1px solid #f36f21;
}

.related-carasoule-sec .item a:hover,
.related-carasoule-sec .item a:active,
.related-carasoule-sec .item a:focus {
    background-color: #f36f21;
    color: #fff;
    border: 1px solid #f36f21;
}


/*media query*/

@media screen and (max-width:1365px) {
    .neighborhood-search {
        width: 100% !important;
    }
}

.search-box {
    display: inline-block;
    width: 100%;
    border-radius: 3px;
    padding: 4px 55px 4px 15px;
    position: relative;
    background: #fff;
    border: 1px solid #ddd;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.search-box.hovered,
.search-box:hover,
.search-box:active {
    border: 1px solid #aaa;
}

.search-box input[type=text] {
    border: none;
    box-shadow: none;
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    /*z-index: 9;*/
    background: transparent;
    position: relative;
}

.search-box input[type=text]:hover,
.search-box input[type=text]:focus,
.search-box input[type=text]:active {
    box-shadow: none;
}

.search-box .search-btn {
    position: absolute;
    right: 2px;
    top: 2px;
    color: #aaa;
    border-radius: 3px;
    font-size: 21px;
    padding: 5px 10px 1px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    cursor: pointer !important;
    /*  z-index: 99;*/
}

.search-box .btn-link.search-btn:hover,
.search-box .btn-link.search-btn:active,
.search-box .btn-link.search-btn:focus {
    color: #fff;
    background-color: #f36f21 !important;
}

.property-wrap {
    position: relative;
    padding: 50px 0px 50px;
    z-index: 99;
}

.property-wrap .dropdown-price-range button {
    width: 100%;
    text-align: left;
    height: 43px;
    background-color: #f36f21;
    color: #fff;
}

.property-wrap .dropdown-price-range button:active,
.property-wrap .dropdown-price-range button:focus {
    box-shadow: none;
    outline: none;
}

.property-wrap .dropdown-price-range button::after {
    float: right;
    margin-top: 10px;
}

.property-wrap .dropdown-price-range .dropdown-menu {
    width: 100%;
    padding: 10px 10px;
}

.property-wrap .dropdown-price-range .dropdown-menu .form-group {
    margin-bottom: 0px;
}

.property-wrap .dropdown-price-range .dropdown-menu .input-style {
    height: 35px;
    text-align: center;
    margin: 10px 0px;
    border: none;
}

.property-wrap .size-dropdown {
    padding: 10px 10px;
}

.property-wrap .size-dropdown .btn-group {
    width: 100%;
}

.property-wrap .size-dropdown button {
    background-color: transparent;
    color: #000;
    text-align: center;
    border: 1px solid #f36f21;
}

.property-wrap .size-dropdown button:hover,
.property-wrap .size-dropdown button:active,
.property-wrap .size-dropdown button:focus {
    background-color: #f36f21;
    box-shadow: none;
    color: #fff;
}

.property-wrap .update-btn {
    width: 100%;
    text-align: center;
    background-color: #f36f21;
    color: #fff;
    border: 1px solid #f36f21;
}

.new-found-results {
    margin-top: 30px;
}

.new-found-results h4 {
    font-size: 30px;
    font-weight: 600;
}

.new-found-results select.form-control {
    background-color: #f36f21;
    color: #fff;
}

.new-found-results select.form-control:active,
.new-found-results select.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #f36f21;
}

.property-wrap .listing-wrapper {
    display: block;
    margin-top: 20px;
}

.property-wrap .listing-wrapper .listing-row {
    flex: auto;
    margin-bottom: 15px;
    background: #fff;
    border-radius: 5px;
    display: flex;
    height: 100%;
    border: #e4e4e4 solid 1px;
    overflow: hidden;
}

.property-wrap .listing-wrapper .listing-row .img-holder {
    flex: 0 0 30%;
    margin-right: 25px;
    position: relative;
}

.property-wrap .listing-wrapper .listing-row .img-holder label {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #fff;
    font-weight: 700;
}

.property-wrap .listing-wrapper .listing-row .img-holder .fa-star {
    color: #f36f21;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #fff;
    padding: 5px;
    border-radius: 50px;
}

.property-wrap .listing-wrapper .listing-row .img-holder .main-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.property-wrap .listing-wrapper .listing-row .info {
    padding: 15px 0px;
    position: relative;
    width: 100%;
}

.property-wrap .listing-wrapper .listing-row .info p {
    margin-bottom: 10px;
    font-size: smaller;
    color: #717171;
}

.property-wrap .listing-wrapper .listing-row .info .title {
    color: #e77817;
    font-size: 18px;
    font-weight: bold;
}

.property-wrap .listing-wrapper .listing-row .info ul {
    margin: 0px;
    padding: 0px 0px 10px;
    list-style: none;
}

.property-wrap .listing-wrapper .listing-row .info ul li {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
    margin-right: 10px;
    position: relative;
    font-size: smaller;
    color: #717171;
}

.property-wrap .listing-wrapper .listing-row .info ul li:after {
    content: "";
    position: absolute;
    right: -3px;
    top: 8px;
    width: 5px;
    height: 5px;
    background: #808080;
    border-radius: 50%;
}

.property-wrap .listing-wrapper .listing-row .info ul li:last-child:after {
    display: none;
}

.property-wrap .listing-wrapper .listing-row .info .status {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 11px;
    background: #00a651;
    color: #fff;
    padding: 5px 12px;
    border-radius: 20px;
}

.property-wrap .listing-wrapper .listing-row .info .actions-btns {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.property-wrap .listing-wrapper .listing-row .info .actions-btns span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    cursor: pointer;
}

.property-wrap .listing-wrapper .listing-row .info .actions-btns button {
    margin-left: 10px;
}

.property-wrap .listing-wrapper .listing-row:hover {
    border-color: #e77817;
}

.property-wrap .listing-wrapper:last-child .listing-row {
    margin-bottom: 10px;
}

.property-wrap .border-btn {
    background: none;
    border: #223971 solid 1px;
    border-radius: 40px;
    color: #223971;
    padding: 6px 15px;
    outline: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all ease 0.4s;
    transition: all ease 0.4s;
}

.property-wrap .border-btn:hover {
    background: #223971;
    color: #fff;
}

.propertyy-map-sec iframe {
    position: relative;
}

.minimize-button {
    position: absolute;
    top: 0px;
    left: 15px;
    background-color: #f36f21;
    padding: 5px;
    cursor: pointer;
}

.minimize-button .aroows {
    font-size: 11px;
}

.summery-details .propertyy-map-sec {
    max-width: 100%;
    flex: 100%;
    transition: all 0.3s ease-in;
}

.summery-details .propertyy-map-sec iframe {
    height: 450px;
}

.summery-details .show-class {
    flex: none;
    transform: translateX(-100%);
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0 opacity: 0;
    transition: all 0.3s ease-out;
}

.show-class {
    transform: translateX(0);
    z-index: 999;
    transition: all 0.3s ease-in;
}

.minimize-button .aroows {
    color: #fff;
}

.new-found-results.summery-details .fa-arrow-left {
    display: none;
}

.new-found-results.summery-details .fa-arrow-right {
    display: block;
}

.new-found-results .fa-arrow-left {
    display: block;
}

.new-found-results .fa-arrow-right {
    display: none;
}


/* Responsiveness */

@media only screen and (max-width: 1279px) {
    .property-wrap .listing-wrapper .listing-row .info {
        padding-bottom: 45px;
    }
    .property-wrap .listing-wrapper .listing-row .img-holder {
        flex: 0 0 30%;
    }
}

@media only screen and (max-width: 767px) {
    .neighborhood-search {
        margin: 70px auto;
    }
    .property-wrap .listing-wrapper .listing-row {
        display: block;
        position: relative;
    }
    .property-wrap .listing-wrapper .listing-row .img-holder {
        margin-right: 0;
    }
    .property-wrap .listing-wrapper .listing-row .img-holder .main-img {
        object-fit: cover;
        width: 100%;
        height: 220px;
    }
    .property-wrap .listing-wrapper .listing-row .info .actions-btns {
        position: initial;
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }
    .property-wrap .listing-wrapper .listing-row .info {
        padding: 15px;
        position: initial;
    }
    .property-wrap .listing-wrapper .listing-row .info .actions-btns button {
        display: block;
        width: 100%;
        text-align: center;
        margin: 10px 0px 0px;
    }
    .search-box {
        margin-bottom: 10px;
    }
    .dropdown-price-range {
        margin-bottom: 10px;
    }
    .new-found-results h4 {
        margin-bottom: 10px;
        font-size: 20px;
    }
    .property-wrap {
        padding: 30px 0px 30px;
    }
    #signup .modal-dialog-scrollable .modal-content {
        max-height: inherit !important;
    }
}

.amsify-suggestags-input {
    border: #d7d7d7 solid 1px;
    width: 100%;
    padding-left: 10px;
    height: 45px;
    border-radius: 5px;
    outline: none;
}

.ui-menu {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 50%;
}


/* Jquery Auto Complete */

.autocomplete-suggestions {
    text-align: left;
    cursor: default;
    border: 1px solid #ccc;
    border-top: 0;
    background: #fff;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, .1);
    /* core styles should not be changed */
    position: absolute;
    display: none;
    z-index: 9999;
    max-height: 254px;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}

.autocomplete-suggestion {
    position: relative;
    padding: 0 .6em;
    line-height: 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.02em;
    color: #333;
}

.autocomplete-suggestion b {
    font-weight: normal;
    color: #1f8dd6;
}

.autocomplete-suggestion.selected {
    background: #f0f0f0;
}


/* Input File style */

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

.inputfile-2 + label {
    color: #d3394c;
    border: 2px solid currentColor;
}

.inputfile-2:focus + label,
.inputfile-2.has-focus + label,
.inputfile-2 + label:hover {
    color: #722040;
}

.inputfile {
    display: none !important;
}

.choose-cover{
    display: flex;
    padding: 15px 0px;
    align-items: center;
}

.choose-cover .img-thumbnail {
    margin-top: 0px;
    width: 150px;
    height: 100px;
    object-fit: cover;
}

.choose-cover .box{
    flex: 0 0 calc(100% - 150px);
    padding-left: 15px;
}

.box label {
    padding: 0px 0px 0px;
    margin: 0px;
}


/* notification */

@charset "UTF-8";
.notification-container {
    cursor: default;
    position: absolute;
    z-index: 999;
    top: 35px;
    right: 0px;
    width: 400px;
    font-weight: 300;
    background: white;
    border-radius: 0.5rem;
    box-sizing: border-box;
    box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
    animation-name: dropPanel;
    animation-iteration-count: 1;
    animation-timing-function: all;
    animation-duration: .75s;
}

.notification-container:before {
    content: "";
    position: absolute;
    top: 1px;
    right: 0;
    width: 0;
    height: 0;
    transform: translate(-1rem, -100%);
    border-left: .75rem solid transparent;
    border-right: .75rem solid transparent;
    border-bottom: .75rem solid white;
}

.notification-container img {
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
    margin-right: 5px;
    position: relative;
    top: -10px;
    border-radius: 100px;
    float: left;
}

.notification-container h3 {
    text-transform: uppercase;
    font-size: 75%;
    font-weight: 700;
    color: #84929f;
    padding: 20px;
    margin-bottom: 0px;
}

.notification-container i {
    color: #b5c4d2;
    font-size: 140%;
    @vertical-align (50%);
    position: absolute;
}

.notification-container i.right {
    right: 2rem;
}

.notification-container i.right:hover {
    opacity: .8;
    cursor: pointer;
}

@keyframes dropPanel {
    0% {
        opacity: 0;
        transform: translateY(-100px) scaleY(0.5);
    }
}

.notification {
    box-sizing: border-box;
}

main {
    position: relative;
}

.mark-read {
    position: absolute;
    right: 65px;
}

.notification-footer {
    background-color: #fff;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.notification-inner-scroll {
    max-height: 300px;
    overflow-y: scroll;
}

.notiofication-content {
    background-color: #f3f9fd;
    padding: top;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 23px;
    border-bottom: 1px solid #94929f;
    position: relative;
}

.notiofication-content a {
    position: relative;
    top: -3px;
    color: #222;
    width: 80%;
    display: inline-table;
}

.notiofication-content .fa-times {
    position: absolute;
    top: 15px;
    cursor: pointer;
    -webkit-text-stroke: 1px #F5F5F5;
    width: 16px;
}

#style-2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #223971;
}

.notification-container {
    display: none;
}

.notification-container.toggle-notification {
    display: block;
}

.fc-unthemed {
    background: #fff;
}

.fc-unthemed .fc-toolbar {
    padding: 15px;
}

.fc-unthemed .fc-button {
    background: #223970;
    outline: none !important;
}

.fc-unthemed .fc-button .fc-icon {
    color: #fff;
    text-shadow: none;
}

.fc-unthemed .fc-next-button {
    border-left: #fff solid 1px;
    outline: none !important;
}

.fc-unthemed .fc-today-button {
    text-shadow: none;
    color: #fff;
    opacity: 1;
    text-transform: capitalize;
    outline: none !important;
}

.fc-unthemed .fc-center h2 {
    color: #000;
    font-size: 22px;
    font-weight: 600;
    padding-top: 0px;
}

.fc-unthemed .fc-right .fc-button-group {
    border: #0A246A solid 1px;
    border-radius: 4px;
}

.fc-unthemed .fc-right .fc-button-group .fc-button {
    text-shadow: none;
    outline: none !important;
    color: #223970;
    opacity: 1;
    text-transform: capitalize;
    background: transparent;
    border: none;
    box-shadow: none;
    border-right: #223970 solid 1px;
}

.fc-unthemed .fc-right .fc-button-group .fc-button:last-child {
    border-right: 0px;
}

.fc-unthemed .fc-right .fc-button-group .fc-button.fc-state-active {
    background: #223970;
    color: #fff;
}

.fc-event-container .fc-content {
    color: #fff;
}

.fc-view.fc-month-view.fc-basic-view {
    padding: 0px 15px 15px 15px;
}

@media only screen and (min-width: 320px) and (max-width: 475px) {
    .notification-container {
        right: -40px;
        width: 303px;
    }
    .notiofication-content a {
        width: 75%;
    }
    .notification-container:before {
        right: 40px;
    }
    .notification-container h3 {
        padding: 20px 10px;
    }
    .notification-container i.right {
        right: 10px;
    }
    .notiofication-content {
        padding: 15px 10px 5px;
    }
    .notiofication-content .fa-times {
        right: 5px;
    }
}

.notification-bg-read {
    background-color: #fff;
}

.after-dropzone-img .parent-div {
    position: relative;
}

.after-dropzone-img img {
    width: 100%;
    height: 175px;
    margin: 45px 10px;
    position: relative;
}

.after-dropzone-img span {
    position: absolute;
    top: 30px;
    font-weight: 600;
    cursor: pointer;
    z-index: 1000;
    width: 20px;
    height: 22px;
    border-radius: 60px;
    padding: 5px;
    color: white;
    font-size: 18px;
    right: 0px;
    background: #6d6562;
    line-height: 9px;
}

.featured-properties.nearby-listing {
    overflow-x: hidden;
}

.datepicker-withtime {
    display: block;
    align-items: center;
    flex-wrap: wrap;
}

.datepicker-withtime .add-more-btn{
    flex: 0 0 100%;
    justify-content: center;
    text-align: center;
}

.datepicker-withtime .form-group {
    margin-right: 5px;
    margin-bottom: 10px;
}

.datepicker-withtime select {
    width: 100% !important;
    display: inline-block;
    background-color: #fff;
    font-weight: 600;
    height: 45px !important;
}

.datepicker-withtime .by-add-only{
    flex: 0 0 100%;
}

.open-house-admin-section{
    background: #eee;
    padding: 15px;
}

.datepicker-withtime select:hover,
.datepicker-withtime select:active,
.datepicker-withtime select:focus {
    box-shadow: none;
}

.datepicker-withtime .form-group .btn-default {
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 14px;
    background-color: #dddddd;
    color: #000;
    hgray;
}

@media only screen and (max-width: 767px) {
    .datepicker-withtime {
        flex-direction: column;
    }
}

.neighbor-autocomplete {
    position: relative;
    width: 40%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.neighbor-autocomplete .fa-search {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;
}

.fa-times-circle {
    color: red;
}


/*Check Availability*/

#check-availability .modal-content {
    border-radius: 15px;
}

#check-availability .modal-body {
    padding-top: 25px;
    padding-bottom: 25px;
}

#check-availability .modal-body img {
    width: 100%;
    border-radius: 10px;
    height: 145px;
    object-fit: cover;
}

#check-availability .modal-body h3 {
    font-size: 22px;
    color: #213970;
    margin-top: 0px;
    margin-bottom: 10px;
}

.padding-leftt-0 {
    padding-left: 0px;
}

#check-availability .after-border {
    border-top: 1px solid #B7B7B7;
    margin-top: 15px;
    margin-bottom: 15px;
}

#check-availability .modal-body .fa-home {
    color: #E87717;
}

#check-availability .modal-body textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
}

#check-availability .modal-body a.btn {
    width: 100%;
    text-align: center;
    border: 1px solid #F36F21;
    color: #F36F21;
    background-color: transparent;
    text-transform: uppercase;
}

#check-availability .modal-body a.btn:hover,
#check-availability .modal-body a.btn:active,
#check-availability .modal-body a.btn:focus {
    background-color: #F36F21;
    transition: all 0.5s ease-out;
    color: #fff;
    box-shadow: none;
}

@media (max-width: 991px) {
    .padding-leftt-0 {
        padding-left: 15px;
    }
    #check-availability .modal-body a.btn {
        margin-bottom: 10px;
    }
    .neighbor-autocomplete {
        width: 60%;
    }
    #check-availability .modal-body h3{
    margin-top: 15px ;
    font-size: 18px;
}
}

@media (min-width: 576px) {
    #check-availability .modal-dialog {
        max-width: 555px;
        margin: 1.75rem auto;
    }
}
