@charset "UTF-8";
@font-face {
	font-family: "ushbc-icons";
	src: url("../fonts/ushbc-icons.ttf?3qhyqn") format("truetype"), url("../fonts/ushbc-icons.woff?3qhyqn") format("woff"), url("../fonts/ushbc-icons.svg?3qhyqn#ushbc-icons") format("svg");
	font-weight: normal;
	font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "ushbc-icons" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	-webkit-font-feature-settings: normal;
	        font-feature-settings: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; }

.icon-monitor:before {
	content: ""; }

.icon-smile-1:before {
	content: ""; }

.icon-diamond:before {
	content: ""; }

.icon-bar-chart:before {
	content: ""; }

.icon-wifi:before {
	content: ""; }

.icon-key:before {
	content: ""; }

.icon-equalizer:before {
	content: ""; }

.icon-credit-card:before {
	content: ""; }

.icon-share:before {
	content: ""; }

.icon-loading:before {
	content: ""; }

.icon-instagram:before {
	content: ""; }

.icon-link:before {
	content: ""; }

.icon-broken-link:before {
	content: ""; }

.icon-smile:before {
	content: ""; }

.icon-crop:before {
	content: ""; }

.icon-sad:before {
	content: ""; }

.icon-cursor:before {
	content: ""; }

.icon-remove-user:before {
	content: ""; }

.icon-add-user:before {
	content: ""; }

.icon-pause:before {
	content: ""; }

.icon-stop:before {
	content: ""; }

.icon-play:before {
	content: ""; }

.icon-move:before {
	content: ""; }

.icon-video:before {
	content: ""; }

.icon-rewind:before {
	content: ""; }

.icon-cloud-computing-1:before {
	content: ""; }

.icon-cloud-computing:before {
	content: ""; }

.icon-user-1:before {
	content: ""; }

.icon-star:before {
	content: ""; }

.icon-facebook:before {
	content: ""; }

.icon-cloud:before {
	content: ""; }

.icon-briefcase:before {
	content: ""; }

.icon-fast-forward:before {
	content: ""; }

.icon-cancel:before {
	content: ""; }

.icon-shield:before {
	content: ""; }

.icon-calculator:before {
	content: ""; }

.icon-photo-camera:before {
	content: ""; }

.icon-cut-1:before {
	content: ""; }

.icon-shuffle:before {
	content: ""; }

.icon-compass:before {
	content: ""; }

.icon-folder:before {
	content: ""; }

.icon-minus:before {
	content: ""; }

.icon-plus:before {
	content: ""; }

.icon-file:before {
	content: ""; }

.icon-align-right:before {
	content: ""; }

.icon-expand:before {
	content: ""; }

.icon-earth-grid:before {
	content: ""; }

.icon-justify:before {
	content: ""; }

.icon-copy:before {
	content: ""; }

.icon-tag:before {
	content: ""; }

.icon-minimize:before {
	content: ""; }

.icon-switch-1:before {
	content: ""; }

.icon-heart:before {
	content: ""; }

.icon-clip:before {
	content: ""; }

.icon-cube:before {
	content: ""; }

.icon-information:before {
	content: ""; }

.icon-eye:before {
	content: ""; }

.icon-hide:before {
	content: ""; }

.icon-log-out:before {
	content: ""; }

.icon-align-left:before {
	content: ""; }

.icon-puzzle:before {
	content: ""; }

.icon-switch:before {
	content: ""; }

.icon-picture:before {
	content: ""; }

.icon-pin-1:before {
	content: ""; }

.icon-right-arrow-1:before {
	content: ""; }

.icon-refresh:before {
	content: ""; }

.icon-filter:before {
	content: ""; }

.icon-pencil:before {
	content: ""; }

.icon-log-in:before {
	content: ""; }

.icon-reply-all:before {
	content: ""; }

.icon-reply:before {
	content: ""; }

.icon-silence:before {
	content: ""; }

.icon-settings:before {
	content: ""; }

.icon-email-2:before {
	content: ""; }

.icon-left-arrow-2:before {
	content: ""; }

.icon-email-1:before {
	content: ""; }

.icon-menu-1:before {
	content: ""; }

.icon-left-arrow-1:before {
	content: ""; }

.icon-right-arrow:before {
	content: ""; }

.icon-down-arrow-2:before {
	content: ""; }

.icon-up-arrow-2:before {
	content: ""; }

.icon-alarm-1:before {
	content: ""; }

.icon-chevron:before {
	content: ""; }

.icon-firefox:before {
	content: ""; }

.icon-disabled:before {
	content: ""; }

.icon-qr-code:before {
	content: ""; }

.icon-cut:before {
	content: ""; }

.icon-tools:before {
	content: ""; }

.icon-piggy-bank:before {
	content: ""; }

.icon-binoculars:before {
	content: ""; }

.icon-shopping-cart:before {
	content: ""; }

.icon-money:before {
	content: ""; }

.icon-down-arrow-1:before {
	content: ""; }

.icon-thermometer:before {
	content: ""; }

.icon-umbrella:before {
	content: ""; }

.icon-dashboard:before {
	content: ""; }

.icon-pin:before {
	content: ""; }

.icon-megaphone:before {
	content: ""; }

.icon-youtube:before {
	content: ""; }

.icon-wind:before {
	content: ""; }

.icon-safari:before {
	content: ""; }

.icon-chrome:before {
	content: ""; }

.icon-headphones:before {
	content: ""; }

.icon-down-arrow:before {
	content: ""; }

.icon-twitter:before {
	content: ""; }

.icon-target:before {
	content: ""; }

.icon-leaf:before {
	content: ""; }

.icon-highlighter:before {
	content: ""; }

.icon-smartphone:before {
	content: ""; }

.icon-screenshot:before {
	content: ""; }

.icon-power-button:before {
	content: ""; }

.icon-question:before {
	content: ""; }

.icon-push-pin:before {
	content: ""; }

.icon-flag:before {
	content: ""; }

.icon-left-arrow:before {
	content: ""; }

.icon-moon:before {
	content: ""; }

.icon-video-camera:before {
	content: ""; }

.icon-music:before {
	content: ""; }

.icon-printer:before {
	content: ""; }

.icon-diskette:before {
	content: ""; }

.icon-paste:before {
	content: ""; }

.icon-mute-1:before {
	content: ""; }

.icon-paint-bucket:before {
	content: ""; }

.icon-clicker:before {
	content: ""; }

.icon-dislike:before {
	content: ""; }

.icon-up-arrow-1:before {
	content: ""; }

.icon-like:before {
	content: ""; }

.icon-straight:before {
	content: ""; }

.icon-joke:before {
	content: ""; }

.icon-surprise:before {
	content: ""; }

.icon-scale:before {
	content: ""; }

.icon-trash-1:before {
	content: ""; }

.icon-trash:before {
	content: ""; }

.icon-phone-call-2:before {
	content: ""; }

.icon-phone-call-1:before {
	content: ""; }

.icon-phone-call:before {
	content: ""; }

.icon-eraser:before {
	content: ""; }

.icon-thunderbolt:before {
	content: ""; }

.icon-snowflake:before {
	content: ""; }

.icon-sun:before {
	content: ""; }

.icon-home:before {
	content: ""; }

.icon-microphone:before {
	content: ""; }

.icon-idea:before {
	content: ""; }

.icon-layout:before {
	content: ""; }

.icon-upload:before {
	content: ""; }

.icon-download:before {
	content: ""; }

.icon-medal:before {
	content: ""; }

.icon-open-lock:before {
	content: ""; }

.icon-diagram:before {
	content: ""; }

.icon-pie-chart:before {
	content: ""; }

.icon-check:before {
	content: ""; }

.icon-followers:before {
	content: ""; }

.icon-user:before {
	content: ""; }

.icon-bookmark:before {
	content: ""; }

.icon-usb:before {
	content: ""; }

.icon-mute:before {
	content: ""; }

.icon-volume:before {
	content: ""; }

.icon-bluetooth:before {
	content: ""; }

.icon-email:before {
	content: ""; }

.icon-chat:before {
	content: ""; }

.icon-alarm:before {
	content: ""; }

.icon-edit:before {
	content: ""; }

.icon-calendar:before {
	content: ""; }

.icon-up-arrow:before {
	content: ""; }

.icon-menu:before {
	content: ""; }

.icon-hourglass:before {
	content: ""; }

.icon-wall-clock:before {
	content: ""; }

.icon-padlock:before {
	content: ""; }

.icon-search:before {
	content: ""; }

.btn {
	padding: 1em 3em;
	border: 1px solid #ccc;
	text-decoration: none;
	display: inline-block;
	letter-spacing: 3px;
	font-size: 14px; }
	.btn.btn-primary {
		background: #0A246A;
		color: #fff; }
		.btn.btn-primary.grad {
			background: linear-gradient(44.96deg, #003D79 0%, #126DFF 100%);
			border: none; }

.uabb-button-wrap a.uabb-button {
	background: linear-gradient(44.96deg, #003D79 0%, #126DFF 100%) !important;
	border: none !important;
	padding: 1em;
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	letter-spacing: 3px;
	text-transform: uppercase; }
	.gray .uabb-button-wrap a.uabb-button {
		background: linear-gradient(44.96deg, #D1D1D1 0%, #F4F4F4 100%) !important; }
		.gray .uabb-button-wrap a.uabb-button * {
			color: #272727 !important; }
	.uabb-button-wrap a.uabb-button .uabb-button-text {
		padding-left: 2em;
		font-size: 14px;
		text-align: left; }
	.uabb-button-wrap a.uabb-button .uabb-button-icon {
		padding-left: 15px;
		border-left: 1px solid rgba(255, 255, 255, 0.2); }

.fl-button-text {
	color: inherit; }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-header {
	padding-top: 1em;
	padding-bottom: 1em;
	grid-template-columns: 6fr 1fr 1fr;
	grid-template-areas: "logo search navigation";
	display: grid;
	align-self: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center; }
	@media (min-width: 768px) {
		.site-header {
			grid-template-columns: 6fr 1fr 3fr;
			grid-template-areas: "logo search cta" "navigation navigation navigation"; } }

.header-image {
	margin: 0 auto; }

.header-image img {
	display: block;
	margin: 0 auto; }

.custom-logo-link {
	display: inline-block;
	margin: 0 auto 1em;
	width: 100px; }

.site-branding {
	grid-area: logo;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: left;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between; }
	.site-branding a {
		width: auto; }
	.site-branding svg {
		margin-left: 1em; }

.site-title {
	margin: 0 1em;
	font-family: 'brandon-grotesque', sans-serif;
	font-size: 38px;
	font-weight: bold;
	line-height: 1.2;
	color: #333332; }

.site-title a {
	text-decoration: none;
	color: inherit; }

.site-description {
	margin: .4375em 0 0;
	font-family: 'brandon-grotesque', sans-serif;
	font-size: 17px;
	font-weight: inherit;
	line-height: 1.4;
	word-wrap: break-word;
	color: #757575; }

.header-cta {
	justify-self: right;
	grid-area: cta; }
	@media (max-width: 768px) {
		.header-cta {
			display: none; } }

header .search {
	text-align: center; }

a#search-modal {
	font-size: 40px;
	text-decoration: none;
	grid-area: search;
	text-align: right; }

.site-footer {
	padding-bottom: 0; }
	.site-footer .site-info {
		display: grid;
		padding: 2em;
		text-align: left;
		grid-gap: 3em;
		font-size: 14px;
		border-top: 2px solid #F8F8F8; }
		@media (min-width: 768px) {
			.site-footer .site-info {
				padding: 40px 0 0 0;
				grid-template-columns: repeat(3, 1fr); } }
		.site-footer .site-info p {
			font-size: 14px; }
		.site-footer .site-info h4 {
			font-size: 20px;
			font-weight: 500;
			margin: .9em 0;
			color: #003D79; }
	@media (min-width: 768px) {
		.site-footer .footer-brand {
			border-right: 2px solid #F8F8F8; } }
	.site-footer .footer-brand .logo {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
		padding-right: 2em;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center; }
	.site-footer .footer-brand img {
		float: left;
		margin-right: 1em; }
	.site-footer .footer-brand .footer-logo {
		margin-right: 30px; }
	@media (min-width: 768px) {
		.site-footer .footer-social {
			border-right: 2px solid #F8F8F8; } }
	.site-footer .footer-social h2 {
		font-size: 20px;
		font-weight: 500;
		margin: .9em 0;
		color: #003D79; }
	.site-footer .footer-social p {
		font-size: 14px; }
	.site-footer .footer-social .menu {
		list-style-type: none;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin: 0;
		padding: 0; }
		.site-footer .footer-social .menu li a {
			text-align: left;
			font-size: 30px;
			color: #003D79;
			text-decoration: none;
			margin-right: .25em;
			text-decoration: none;
			text-transform: uppercase; }
	.site-footer .footer-subscribe .gform_wrapper .gf_simple_horizontal input[type="text"],
	.site-footer .footer-subscribe .gform_wrapper .gf_simple_horizontal input[type="email"],
	.site-footer .footer-subscribe .gform_wrapper .gf_simple_horizontal input[type="url"],
	.site-footer .footer-subscribe .gform_wrapper .gf_simple_horizontal input[type="password"],
	.site-footer .footer-subscribe .gform_wrapper .gf_simple_horizontal input[type="search"],
	.site-footer .footer-subscribe .gform_wrapper .gf_simple_horizontal input[type="number"],
	.site-footer .footer-subscribe .gform_wrapper .gf_simple_horizontal input[type="tel"],
	.site-footer .footer-subscribe .gform_wrapper .gf_simple_horizontal textarea {
		border-top: none;
		border-right: none;
		border-left: none;
		border-bottom: 1px solid #003D79; }
	.site-footer .footer-subscribe .gform_wrapper .gform_footer {
		-webkit-box-shadow: none;
		        box-shadow: none; }
		.site-footer .footer-subscribe .gform_wrapper .gform_footer button,
		.site-footer .footer-subscribe .gform_wrapper .gform_footer input[type="button"],
		.site-footer .footer-subscribe .gform_wrapper .gform_footer input[type="reset"],
		.site-footer .footer-subscribe .gform_wrapper .gform_footer input[type="submit"] {
			background-color: transparent;
			color: #003D79;
			border-radius: 0;
			font-size: 1em;
			border: none;
			border-bottom: 1px solid #003D79;
			height: 60px;
			-webkit-box-shadow: none;
			        box-shadow: none;
			font-size: 25px; }
	.site-footer .footer-bottom {
		background-color: #003D79;
		color: #fff;
		margin: 4em 0 0 0;
		font-size: 14px; }
		.site-footer .footer-bottom .container {
			display: grid;
			padding: 1em;
			text-align: center;
			grid-gap: 10px; }
			@media (min-width: 768px) {
				.site-footer .footer-bottom .container {
					grid-template-columns: repeat(2, 1fr);
					text-align: left; } }
			.site-footer .footer-bottom .container ul.menu {
				list-style-type: none;
				margin: 0;
				padding: 0; }
				@media (min-width: 768px) {
					.site-footer .footer-bottom .container ul.menu {
						text-align: right; } }
				.site-footer .footer-bottom .container ul.menu li {
					margin: 0;
					padding: 0;
					display: inline; }
					.site-footer .footer-bottom .container ul.menu li a {
						color: #fff;
						padding: 0px .5em;
						text-decoration: none;
						text-transform: uppercase; }

/*--------------------------------------------------------------
## Main navigation menu
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	margin: 0 auto;
	padding: 0 1em;
	font-family: 'brandon-grotesque', sans-serif;
	font-size: 18px;
	grid-area: navigation;
	width: 100%; }
	@media (min-width: 768px) {
		.main-navigation {
			border-top: 1px solid #c2c2c2; } }

.menu-toggle {
	display: block;
	margin: 1.2em auto;
	padding: .6em 1.2em .5em;
	font-family: 'brandon-grotesque', sans-serif;
	font-size: 80%;
	text-transform: uppercase;
	border: 2px solid #003D79;
	color: #003D79;
	border-radius: 0;
	background: transparent;
	z-index: 1000;
	position: relative; }
	.menu-toggle .button-text-closed {
		display: block; }
	.menu-toggle .button-text-open {
		display: none; }

.main-navigation a {
	display: block;
	width: 100%;
	padding: 0 .5em;
	text-decoration: none;
	color: black; }
	@media (min-width: 960px) {
		.main-navigation a {
			padding: .5em 1em .5em 0; } }

.main-navigation a:hover,
.main-navigation a:focus {
	text-decoration: underline; }

.main-navigation ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0; }

.main-navigation li {
	position: relative; }

.main-navigation ul ul li {
	padding-left: 1em; }

.main-navigation .dropdown,
.main-navigation button.dropdown-toggle {
	display: none; }

.main-navigation .menu {
	display: none; }

@media (max-width: 600px) {
	.main-navigation.toggled-on .menu a {
		font-size: 24px !important; } }

@media screen and (max-width: 768px) {
	.main-navigation.toggled-on .menu-toggle {
		position: fixed;
		right: 20px;
		top: 20px;
		color: #FFF !important;
		border-color: #fff !important; }
		.main-navigation.toggled-on .menu-toggle .button-text-open {
			display: block; }
		.main-navigation.toggled-on .menu-toggle .button-text-closed {
			display: none; }
	.main-navigation.toggled-on .menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: fixed;
		z-index: 999;
		width: 100%;
		background: linear-gradient(44.96deg, #003D79 0%, #126DFF 100%);
		top: 0;
		right: 0;
		bottom: 0;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		overflow-y: scroll; }
		.main-navigation.toggled-on .menu ul {
			width: 100%; }
		.main-navigation.toggled-on .menu a {
			color: #003D79;
			text-align: center;
			display: block;
			width: 100%;
			font-size: 40px;
			color: #fff; } }

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none; }
	.main-navigation ul li.current_page_item a {
		border-top: 5px solid #003D79; }
	.main-navigation ul li a {
		padding: 1em 0.5em;
		border-top: 5px solid transparent;
		-webkit-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
		letter-spacing: 1px;
		font-size: 18px; }
		.main-navigation ul li a:hover {
			text-decoration: none;
			border-top: 5px solid #003D79; }
	.main-navigation ul li {
		margin: 0 0 0 0.5em; }
	.main-navigation ul li:first-child {
		margin-left: 0; }
	.main-navigation ul ul {
		display: none;
		position: absolute;
		top: 100%;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		background: white;
		margin-left: 0;
		-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		z-index: 1; }
	.main-navigation ul ul a {
		width: 200px; }
	.main-navigation ul ul li {
		padding-left: 0;
		margin-left: 0; }
	.main-navigation ul ul li a {
		width: 218px;
		background: none; }
	.main-navigation ul ul ul {
		top: 0;
		left: 100%;
		min-height: 100%; }
	.main-navigation .menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center; }
	.main-navigation .menu-item-has-children,
	.main-navigation .page_item_has_children {
		padding-right: 0.7em; }
	.main-navigation .dropdown,
	.main-navigation button.dropdown-toggle {
		display: block;
		background: transparent;
		position: absolute;
		right: 0;
		top: 50%;
		width: 0.7em;
		height: 0.7em;
		font-size: inherit;
		line-height: inherit;
		margin: 0;
		padding: 0;
		border: none;
		border-radius: 0;
		-webkit-transform: translateY(-50%);
		        transform: translateY(-50%);
		overflow: visible; }
	.main-navigation .dropdown-symbol {
		display: block;
		background: transparent;
		position: absolute;
		right: 20%;
		top: 35%;
		width: 60%;
		height: 60%;
		border: solid black;
		border-width: 0 2px 2px 0;
		-webkit-transform: translateY(-50%) rotate(45deg);
		        transform: translateY(-50%) rotate(45deg); }
	.main-navigation ul ul .dropdown,
	.main-navigation ul ul button.dropdown-toggle {
		top: 40%;
		right: 0.2em; }
	.main-navigation ul ul .dropdown-symbol {
		-webkit-transform: rotate(-45deg);
		        transform: rotate(-45deg); }
	/*
	 * If the dropdown toggle is active with JS, then
	 * we'll take care of showing the submenu with JS.
	 *
	 * "focus-within" is an alternative to focus class for
	 * supporting browsers (all but IE/Edge) for no-JS context
	 * (e.g. AMP) See https://caniuse.com/#feat=css-focus-within
	 */
	.main-navigation li:hover > ul,
	.main-navigation li.toggled-on > ul,
	.main-navigation:not(.has-dropdown-toggle) li:focus > ul,
	.main-navigation:not(.has-dropdown-toggle) li:focus-within > ul {
		display: block; } }

/*--------------------------------------------------------------
# Content navigation
--------------------------------------------------------------*/
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	border-bottom: 1px solid #111;
	margin: 0 auto 2em;
	max-width: 720px;
	overflow: hidden;
	padding-bottom: 2em;
	font-family: 'brandon-grotesque', sans-serif; }

.nav-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex; }

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	width: 50%;
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 50%;
	        flex: 1 0 50%; }

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 50%;
	        flex: 1 0 50%; }

.post-navigation-sub span {
	color: #333;
	text-decoration: none;
	display: inline-block; }

.gform_wrapper .gform_fields {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0; }

.gform_wrapper ul {
	margin: 0; }
	.gform_wrapper ul li {
		padding: 0; }

.gform_wrapper .hide-label label.gfield_label {
	display: none; }

.gform_wrapper .gf_simple_horizontal {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	width: 100% !important;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap; }
	.gform_wrapper .gf_simple_horizontal ul.gform_fields {
		width: 100%;
		padding-right: 0; }
	.gform_wrapper .gf_simple_horizontal div.validation_error {
		-webkit-box-flex: 0 !important;
		    -ms-flex: 0 0 100% !important;
		        flex: 0 0 100% !important; }
	.gform_wrapper .gf_simple_horizontal .validation_message {
		position: absolute; }
	.gform_wrapper .gf_simple_horizontal .gform_body {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 auto;
		        flex: 1 1 auto; }
		.gform_wrapper .gf_simple_horizontal .gform_body input[type="text"] {
			border-radius: 0;
			margin: 0 !important;
			border-color: transparent;
			border: 1px solid #e0e0e0;
			-webkit-box-shadow: 0 20px 30px 0 rgba(10, 31, 68, 0.07);
			        box-shadow: 0 20px 30px 0 rgba(10, 31, 68, 0.07);
			height: 58px; }
		.gform_wrapper .gf_simple_horizontal .gform_body input[type="text"],
		.gform_wrapper .gf_simple_horizontal .gform_body input[type="email"],
		.gform_wrapper .gf_simple_horizontal .gform_body input[type="url"],
		.gform_wrapper .gf_simple_horizontal .gform_body input[type="password"],
		.gform_wrapper .gf_simple_horizontal .gform_body input[type="search"],
		.gform_wrapper .gf_simple_horizontal .gform_body input[type="number"],
		.gform_wrapper .gf_simple_horizontal .gform_body input[type="tel"],
		.gform_wrapper .gf_simple_horizontal .gform_body textarea {
			width: 100%;
			border-radius: 0;
			height: 60px;
			padding-left: 20px;
			padding-right: 20px; }
	.gform_wrapper .gf_simple_horizontal .gform_footer {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 80px;
		        flex: 0 0 80px;
		-webkit-box-shadow: 0 20px 30px 0 rgba(10, 31, 68, 0.07);
		        box-shadow: 0 20px 30px 0 rgba(10, 31, 68, 0.07); }
		.gform_wrapper .gf_simple_horizontal .gform_footer .gform_image_button {
			background: linear-gradient(44.96deg, #003D79 0%, #126DFF 100%) !important;
			margin-bottom: 0px !important;
			padding: 16px 26px !important;
			height: 60px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex; }
			.gform_wrapper .gf_simple_horizontal .gform_footer .gform_image_button::before {
				/* use !important to prevent issues with browser extensions that change fonts */
				font-family: "ushbc-icons" !important;
				speak: none;
				font-style: normal;
				font-weight: normal;
				-webkit-font-feature-settings: normal;
				        font-feature-settings: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1;
				/* Better Font Rendering =========== */
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				content: ""; }

.validation_error {
	background-color: #FB7C6E;
	color: #fff;
	padding: 1em;
	margin-bottom: 10px !important; }

.gfield_error {
	border-color: #FB7C6E !important; }

.validation_message {
	color: #FB7C6E; }

.gform_wrapper .gform_footer INPUT[type=submit] {
	text-align: left;
	padding-left: 75px; }

.gform_wrapper FORM .gform_footer SPAN:after {
	font-size: 20px;
	z-index: 100;
	margin-left: -70px; }

form.search-form {
	border: 1px solid #e2e2e2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-shadow: 0px 10px 50px #e2e2e282;
	        box-shadow: 0px 10px 50px #e2e2e282;
	margin: auto; }
	form.search-form label {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 auto;
		        flex: 1 1 auto;
		-webkit-box-pack: stretch;
		    -ms-flex-pack: stretch;
		        justify-content: stretch; }
		form.search-form label input[type="search"] {
			width: 100%;
			border: none;
			padding: 1em; }
	form.search-form .search-submit {
		background: linear-gradient(44.96deg, #003D79 0%, #126DFF 100%);
		color: #fff;
		margin-right: 10px;
		border-radius: 40px;
		border: none;
		position: relative;
		font-size: 18px;
		line-height: 1.75em; }

.fl-builder-content .fl-callout.fl-callout-has-photo.fl-callout-photo-right .fl-callout-content, .fl-builder-content .fl-callout.fl-callout-has-photo.fl-callout-photo-left .fl-callout-content {
	padding: 20px; }
	@media (min-width: 768px) {
		.fl-builder-content .fl-callout.fl-callout-has-photo.fl-callout-photo-right .fl-callout-content, .fl-builder-content .fl-callout.fl-callout-has-photo.fl-callout-photo-left .fl-callout-content {
			padding: 50px; } }

.fl-builder-content .fl-callout .fl-callout-content {
	-webkit-box-shadow: 0 35px 45px 0 rgba(10, 31, 68, 0.1);
	        box-shadow: 0 35px 45px 0 rgba(10, 31, 68, 0.1); }
	.fl-builder-content .fl-callout .fl-callout-content .fl-callout-title-text {
		font-size: 34px;
		font-weight: 100; }
	.fl-builder-content .fl-callout .fl-callout-content .fl-callout-button .fl-button-wrap.fl-button-width-full {
		width: 100%; }

.fl-builder-content .fl-callout-left .fl-callout-content {
	background: linear-gradient(44.96deg, #D1D1D1 0%, #F4F4F4 100%);
	padding: 20px 20px 50px 20px;
	color: #272727;
	-webkit-box-shadow: 0 35px 45px 0 rgba(10, 31, 68, 0.1);
	        box-shadow: 0 35px 45px 0 rgba(10, 31, 68, 0.1); }
	@media (min-width: 768px) {
		.fl-builder-content .fl-callout-left .fl-callout-content {
			padding: 50px; } }
	.fl-builder-content .fl-callout-left .fl-callout-content .fl-callout-title-text {
		color: #272727;
		font-size: 34px;
		font-weight: 100;
		margin-bottom: 1em; }

.fl-builder-content .fl-callout-left .fl-callout-text-wrap .fl-callout-button {
	display: block; }
	.fl-builder-content .fl-callout-left .fl-callout-text-wrap .fl-callout-button .fl-button {
		padding: 10px 20px; }
		@media (min-width: 768px) {
			.fl-builder-content .fl-callout-left .fl-callout-text-wrap .fl-callout-button .fl-button {
				padding: 20px 40px; } }

.fl-builder-content .fl-callout-photo-left,
.fl-builder-content .fl-callout-photo-right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column; }
	@media (min-width: 768px) {
		.fl-builder-content .fl-callout-photo-left,
		.fl-builder-content .fl-callout-photo-right {
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			    -ms-flex-direction: row;
			        flex-direction: row; } }
	.fl-builder-content .fl-callout-photo-left .fl-callout-content,
	.fl-builder-content .fl-callout-photo-right .fl-callout-content {
		background: transparent;
		-webkit-box-shadow: none;
		        box-shadow: none; }
		.fl-builder-content .fl-callout-photo-left .fl-callout-content .fl-callout-title .fl-callout-title-text,
		.fl-builder-content .fl-callout-photo-right .fl-callout-content .fl-callout-title .fl-callout-title-text {
			font-size: 48px; }
	.fl-builder-content .fl-callout-photo-left .fl-callout-photo .fl-photo .fl-photo-img,
	.fl-builder-content .fl-callout-photo-right .fl-callout-photo .fl-photo .fl-photo-img {
		-webkit-box-shadow: 0 35px 45px 0 rgba(10, 31, 68, 0.1);
		        box-shadow: 0 35px 45px 0 rgba(10, 31, 68, 0.1); }
	.fl-builder-content .fl-callout-photo-left .fl-callout-button,
	.fl-builder-content .fl-callout-photo-right .fl-callout-button {
		margin-top: 3em; }

@media (min-width: 768px) {
	.fl-builder-content .fl-callout-photo-left .fl-callout-content {
		padding-right: 0; } }

.fl-builder-content .fl-callout-photo-right {
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: column-reverse;
	        flex-direction: column-reverse; }
	@media (min-width: 768px) {
		.fl-builder-content .fl-callout-photo-right {
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			    -ms-flex-direction: row;
			        flex-direction: row; } }
	@media (min-width: 768px) {
		.fl-builder-content .fl-callout-photo-right .fl-callout-content {
			padding-left: 0;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			    -ms-flex-direction: row;
			        flex-direction: row; } }

.fl-builder-content .reversed .fl-callout-left .fl-callout-content {
	background: linear-gradient(44.96deg, #003D79 0%, #126DFF 100%);
	color: #fff; }
	.fl-builder-content .reversed .fl-callout-left .fl-callout-content .fl-callout-title-text {
		color: #FFF;
		font-size: 34px;
		font-weight: 100; }
	.fl-builder-content .reversed .fl-callout-left .fl-callout-content .fl-callout-button .fl-button-wrap .fl-button {
		background: linear-gradient(44.96deg, #FFFFFF 0%, #F4F4F4 100%); }
		.fl-builder-content .reversed .fl-callout-left .fl-callout-content .fl-callout-button .fl-button-wrap .fl-button .fl-button-text {
			color: #003D79; }
		.fl-builder-content .reversed .fl-callout-left .fl-callout-content .fl-callout-button .fl-button-wrap .fl-button .fl-button-icon {
			color: #003D79;
			border-left-color: rgba(0, 0, 0, 0.2); }

.fl-builder-content .reversed .uabb-cta-wrap {
	background: linear-gradient(44.96deg, #003D79 0%, #126DFF 100%);
	color: #fff;
	font-size: 18px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%; }
	@media (min-width: 768px) {
		.fl-builder-content .reversed .uabb-cta-wrap {
			padding: 50px; } }
	.fl-builder-content .reversed .uabb-cta-wrap .uabb-cta-text h2.uabb-cta-title {
		color: #fff;
		font-weight: 100;
		font-size: 34px; }
	.fl-builder-content .reversed .uabb-cta-wrap .uabb-cta-text .uabb-cta-text-content {
		font-weight: 100; }
	.fl-builder-content .reversed .uabb-cta-wrap .uabb-cta-button {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 40%;
		        flex: 0 0 40%;
		width: 40% !important; }
		.fl-builder-content .reversed .uabb-cta-wrap .uabb-cta-button a.uabb-button {
			background: linear-gradient(44.96deg, #FFFFFF 0%, #F4F4F4 100%) !important;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			text-align: left;
			border-radius: 0; }
			.fl-builder-content .reversed .uabb-cta-wrap .uabb-cta-button a.uabb-button .uabb-button-text {
				color: #003D79; }
			.fl-builder-content .reversed .uabb-cta-wrap .uabb-cta-button a.uabb-button .uabb-button-icon {
				color: #003D79;
				border-left-color: rgba(0, 0, 0, 0.2); }

.fl-builder-content .fl-callout-photo-above-title {
	height: 550px; }
	.fl-builder-content .fl-callout-photo-above-title h3.fl-callout-title {
		margin-bottom: 1em !important; }
	.fl-builder-content .fl-callout-photo-above-title .fl-callout-content {
		height: 100%;
		background: #fff !important;
		color: #C0C0C0;
		background-image: none;
		-webkit-box-shadow: 0 35px 45px 0 rgba(10, 31, 68, 0.1);
		        box-shadow: 0 35px 45px 0 rgba(10, 31, 68, 0.1);
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column; }
	.fl-builder-content .fl-callout-photo-above-title .fl-callout-text-wrap {
		padding: 1em;
		-webkit-box-flex: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between; }
	.fl-builder-content .fl-callout-photo-above-title .fl-callout-text {
		font-size: 18px; }

.fl-builder-content .img-shadow .fl-photo {
	-webkit-box-shadow: 0 35px 45px 0 rgba(10, 31, 68, 0.1);
	        box-shadow: 0 35px 45px 0 rgba(10, 31, 68, 0.1); }

.fl-builder-content .fl-callout-button {
	display: block; }
	.fl-builder-content .fl-callout-button .fl-button-wrap {
		display: block;
		width: 100%; }
		@media (min-width: 768px) {
			.fl-builder-content .fl-callout-button .fl-button-wrap {
				width: 80%; } }
		.fl-builder-content .fl-callout-button .fl-button-wrap.fl-button-width-full {
			width: 100%; }
		.fl-builder-content .fl-callout-button .fl-button-wrap .fl-button {
			background: linear-gradient(44.96deg, #003D79 0%, #126DFF 100%);
			border: none;
			color: #fff;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-between;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
			border-radius: 0; }
			.fl-builder-content .fl-callout-button .fl-button-wrap .fl-button .fl-button-text {
				color: #fff;
				text-align: left;
				font-size: 13px;
				font-weight: 100;
				text-transform: uppercase;
				letter-spacing: 2px; }
			.fl-builder-content .fl-callout-button .fl-button-wrap .fl-button .fl-button-icon {
				color: #fff;
				border-left: 1px solid rgba(255, 255, 255, 0.2);
				padding-left: 10px;
				margin-left: 10px;
				font-size: 24px; }

.uabb-adv-accordion .uabb-adv-accordion-item .uabb-adv-accordion-button {
	background: linear-gradient(44.96deg, #003D79 0%, #126DFF 100%); }
	.uabb-adv-accordion .uabb-adv-accordion-item .uabb-adv-accordion-button .uabb-adv-accordion-button-icon {
		border-left: 1px solid rgba(255, 255, 255, 0.2);
		padding-left: 1em; }

.uabb-adv-accordion .uabb-adv-accordion-item.uabb-adv-accordion-item-active {
	-webkit-box-shadow: 0 20px 30px 0 rgba(24, 44, 79, 0.05);
	        box-shadow: 0 20px 30px 0 rgba(24, 44, 79, 0.05);
	margin-bottom: 1em; }
	.uabb-adv-accordion .uabb-adv-accordion-item.uabb-adv-accordion-item-active .uabb-adv-accordion-button {
		color: #C0C0C0; }
	.uabb-adv-accordion .uabb-adv-accordion-item.uabb-adv-accordion-item-active .uabb-adv-accordion-button {
		background: linear-gradient(44.96deg, #D1D1D1 0%, #F4F4F4 100%);
		color: #272727 !important; }
		.uabb-adv-accordion .uabb-adv-accordion-item.uabb-adv-accordion-item-active .uabb-adv-accordion-button .uabb-adv-accordion-button-label,
		.uabb-adv-accordion .uabb-adv-accordion-item.uabb-adv-accordion-item-active .uabb-adv-accordion-button .uabb-adv-accordion-button-icon {
			color: #272727 !important; }
		.uabb-adv-accordion .uabb-adv-accordion-item.uabb-adv-accordion-item-active .uabb-adv-accordion-button .uabb-adv-accordion-button-icon {
			border-left: 1px solid #E2E2E2;
			padding-left: 1em; }

body {
	-webkit-font-smoothing: antialiased; }

body.fl-builder .site-header,
body.fl-builder .site-footer .site-info,
body.fl-builder .footer-bottom .container,
body.fl-theme-builder-singular .site-header,
body.fl-theme-builder-singular .site-footer .site-info,
body.fl-theme-builder-singular .footer-bottom .container,
body.fl-theme-builder-archive .site-header,
body.fl-theme-builder-archive .site-footer .site-info,
body.fl-theme-builder-archive .footer-bottom .container,
body.fl-theme-builder-404 .site-header,
body.fl-theme-builder-404 .site-footer .site-info,
body.fl-theme-builder-404 .footer-bottom .container {
	max-width: 1140px;
	margin: 0 auto; }

.entry-footer {
	max-width: 1140px; }
